{% load static %}
<html>
		<head>
				<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
				<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
				<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		</head>
		<body>
				<div>
						<h1><a href="/">빅파이</a></h1>
				</div>

				{% if user.is_authenticated %}
						<ul>
								<li><a href="{% url 'logout' %}">로그아웃</a></li>
								<li><a href="{% url 'post_new' %}">새글작성</a></li>
								<li><a href="{% url 'post_draft_list' %}">초안리스트</a></li>
						</ul>
				{% else %}
						<ul>
								<li><a href="{% url 'login' %}">로그인</a></li>
						</ul>
				{% endif %}

				<ul>
				{% for category in categorys %}
						<li>{{ category.name}}</li>
				{% endfor %}
				</ul>

				{% block content %}
				{% endblock %}
		</body>
</html>
