{% extends 'blog/base.html' %}

{% block content %}
        <!-- Page Header-->
		<header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>빅파이</h1>
                            <span class="subheading">VicPie(Victory Pie)</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
					{% for post in posts %}
                    <div class="post-preview">
						<a href="{% url 'post_detail' pk=post.pk %}">
							<h2 class="post-title">{{ post.title }}</h2>
                        </a>
                        <p class="post-meta">
							{% for series in post.series.all %}
							<a href="{% url 'series' pk=series.pk %}">{{ series.name }}</a>
							{% endfor %}
							<a href="{% url 'category' pk=post.category.pk %}">{{ post.category.name }}</a>
                            {{ post.published_date|date:'Y년 n월 j일 H시 i분' }}
                        </p>
                    </div>
							{% if not posts.has_other_pages %}
									{% if not forloop.last %}
											<!-- Divider-->
											<hr class="my-4" />
									{% endif %}
							{% else %}
									<!-- Divider-->
									<hr class="my-4" />
							{% endif %}
					{% empty %}
                    <div class="post-preview">
						<h2 class="post-title">현재 준비중</h2>
						<h3 class="post-subtitle">컨텐츠가 없습니다.</h3>
                    </div>
					{% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-center mb-4">
						{% if posts.has_other_pages %}
							<nav aria-label="Page navigation">
						  		<ul class="pagination">
										{% if 1 not in page_range %}
											<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
											<li>...</li>
										{% endif %}
										{% for page in page_range %}
											{% if page == posts.number %}
													<li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
											{% else %}
													<li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
											{% endif %}
										{% endfor %}
										{% if paginator.num_pages not in page_range %}
											<li>...</li>
											<li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
										{% endif %}
								</ul>
							</nav>
						{% endif %}
					</div>
                </div>
            </div>
        </div>
{% endblock %}
