{% extends 'blog/base.html' %}

{% block content %}
		{% for post in posts %}
			<div>
					<p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}
							{% if post.comments.count %}
								[{{ post.comments.count }}]
							{% endif %}
						</a></p>
					<p>{{ post.category.name }}</p>
					<p>{{ post.published_date|date:'y년 n월 j일 H시 i분' }}</p>
					<p>{{ post.text|safe|linebreaksbr }}</p>
			</div>
		{% endfor %}

		<div>
				{% if posts.has_other_pages %}
						<ul>
								{% if 1 not in page_range %}
									<li><a href="?page=1">1</a></li>
									<li>...</li>
								{% endif %}
								{% for page in page_range %}
									{% if page == posts.number %}
											<li><b>{{ page }}</b></li>
									{% else %}
											<li><a href="?page={{ page }}">{{ page }}</a></li>
									{% endif %}
								{% endfor %}
								{% if paginator.num_pages not in page_range %}
									<li>...</li>
									<li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
								{% endif %}
						</ul>
				{% endif %}
		</div>
{% endblock %}
